
input[type="text"], input[type="email"], input[type="password"]{
    border: 1px solid var(--border-color-secpndary);
    margin-bottom: 5px;
    padding: 5px;
    width: 300px;
    border-radius: 3px;
}
input[type="submit"]{
    background: var(--background-color);
    border: 1px solid var(--border-color-primary);
    color: var(--text-color-white);
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
}
input[type="submit"]:hover{
    background: var(--background-color);
    color: #555;
}
textarea{
    height: 110px;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color-secpndary);
}


.about img{
    background: var(--text-color-white);
    border: 1px solid var(--border-color-primary);
    float: left;
    height: 190px;
    width: 300px;
    margin-right: 10px;
    padding: 5px;
}
.about p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: justify;
}

.about h2{
    border-bottom: 2px solid var(--border-color-secpndary);
    color: var(--text-color-gold);
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
}