.slidersection{
    margin-bottom: 0;
    border-left: 1px solid var(--border-color-primary);
    border-right: 1px solid var(--border-color-primary);
    box-sizing: border-box;
}

.banner{
    background: #fff;
    padding: 35px 15px;
    border-bottom: 3px dashed var(--border-color-primary);
    border-top: 1px solid var(--border-color-primary);
}

.banner h1{
    text-align: center;
}




