<div class="navsection template">


    <ul>
        
        <li><a [ngClass]="{'active' : router.url.includes('/home')}" routerLink="/home">Home</a></li>
        <li><a [ngClass]="{'active' : router.url.includes('/ff')}" routerLink="/home">USA Jobs</a></li>
        <li><a [ngClass]="{'active' : router.url.includes('/ff')}" routerLink="/home">UK Jobs</a></li>
        <li><a [ngClass]="{'active' : router.url.includes('/ff')}" routerLink="/home">Canada Jobs</a></li>
        <li><a [ngClass]="{'active' : router.url.includes('/ff')}" routerLink="/home">Australia Jobs</a></li>
        
        <!-- <li><a>Bank Jobs</a>
            <ul>
                <li><a [ngClass]="{'active' : router.url.includes('/product1')}" routerLink="/product1">Govt Bank</a></li>
                <li><a [ngClass]="{'active' : router.url.includes('/product2')}" routerLink="/product2">Private Bank</a></li>
            </ul>
        </li> -->

        


        <li><a [ngClass]="{'active' : router.url.includes('/about')}" routerLink="/about">About</a></li>
        <li><a [ngClass]="{'active' : router.url.includes('/contact')}" routerLink="/contact">Contact</a></li>
        
    </ul>


    <!-- <marquee behavior="" direction="">The Quick brown fox jumps over the lazy dog.</marquee> -->

</div>
